<div class="wrapper">
    <header>
        <img src="assets/Images/bgHero.png" class="background">
        <img src="assets/Images/logo2.JPEG" class="foreground mix-blend-screen">
    </header>
    <section>
        <div>
            <h1>Welcome to Azar: Forge Your Legacy</h1>
            <p>Discover a collection designed to elevate your performance and empower you to surpass your limits.
                Explore our carefully curated selection of cutting-edge activewear, engineered with advanced
                materials
                and innovative technologies to optimize your training and competition experience. Our products are
                meticulously crafted to enhance
                your comfort, style, and performance. Shop now and gear up to take your athletic journey to new
                heights.
            </p>
        </div>
        <div>
            <h2>Why Choose Azar to Forge Your Legacy?</h2>
            <ul>
                <li>Superior Performance: Azar products are engineered to enhance your performance, offering
                    superior
                    comfort, flexibility, and durability, allowing you to focus solely on achieving your athletic
                    aspirations.</li>
                <li>Cutting-Edge Innovation: Our dedication to innovation means we constantly push boundaries and
                    stay
                    ahead of the game. We embrace the latest technologies and advancements in athletic apparel to
                    provide you with gear that gives you the competitive edge.</li>
                <li>Unmatched Style: Azar seamlessly blends performance and style, ensuring that you not only
                    perform
                    your best but also look your best. Our modern designs and attention to detail will make you
                    stand
                    out, whether you're on the track, in the gym, or on the field.</li>
                <li>Exceptional Quality: We are committed to delivering exceptional quality in every product we
                    offer.
                    Each garment is carefully crafted with premium materials to withstand the demands of your active
                    lifestyle.</li>
                <li>Inspiring Legacy: Azar represents more than just a brand; it's a symbol of empowerment and
                    inspiration. When you choose Azar, you join a community of like-minded individuals who are
                    dedicated
                    to pushing their limits and leaving a lasting impact on the world.</li>
            </ul>
            <p>Choose Azar and embark on a journey of athleticism, determination, and achievement. Elevate your
                performance, break barriers, and create a legacy that will inspire generations to come. Shop with us
                today and become part of the Azar movement.</p>
        </div>

        <div>
            <h2>About Us</h2>
            <p>We are more than just an athletic clothing brand – we are a movement. Our mission is to inspire
                individuals to embrace their inner champions and push beyond their boundaries. We believe that true
                greatness is forged through perseverance, dedication, and a relentless pursuit of excellence. With
                this
                philosophy at our core, we have created a brand that embodies the spirit of determination and
                empowers
                athletes to leave their mark on the world.</p>
            <p>We take pride in our commitment to quality and innovation. Each Azar product is crafted with
                meticulous
                attention to detail, utilizing state-of-the-art materials and performance-driven design. Our team of
                dedicated experts combines their expertise with feedback from athletes to create gear that meets the
                demands of the most intense workouts and competitions. With Azar, you can trust that you are
                equipping
                yourself with the best tools to achieve your goals and forge your own legacy.</p>
        </div>
    </section>
</div>

<app-home-page></app-home-page>