<div class="px-5 text-reddish">
  <div class="flex gap-2" clickOutside (clickOutside)="clickedOutside()">
    <div class="cursor-pointer" (click)="toggleMenu()">
      Sign-In
    </div>

    <div class="absolute origin-top rounded-3xl mt-10 -ml-24 dropDownSignIn z-20 shadow-blackish shadow-sm"
      *ngIf="isMenuOpened">
      <div class="static">
        <div class="absolute triangle-up"></div>
        <app-login></app-login>
      </div>
    </div>

    <div>
      <a routerLink="/signup" class="hover:font-semibold transition-all">
        Sign-Up
      </a>
    </div>
  </div>
</div>