<div class="w-screen h-screen bg-black flex justify-center items-center">

    <div class="w-fit h-fit rounded-xl bg-gray-200 m-5" *ngIf="user">
        <h2 class="m-5 p-3 w-full bg-black text-white">Edit User</h2>
        <form (ngSubmit)="editUser()" [formGroup]="userForm">
            <div class="flex flex-row bg-black rounded-full m-8 w-fit">
                <div class="w-48 p-2">
                    <label class="m-1 p-1 text-white rounded-l-full">First Name</label>
                </div>
                <div class="w-96 mr-2">
                    <input class="w-full m-1 p-1 rounded-r-full" type="text" formControlName="fName"
                        placeholder="{{user.fName}}" value="{{user.fName}}">
                </div>
            </div>

            <div class="flex flex-row bg-black rounded-full m-8 w-fit">
                <div class="w-48 p-2">
                    <label class="m-1 p-1 text-white rounded-l-full">Last Name</label>
                </div>
                <div class="w-96 mr-2">
                    <input class="w-full m-1 p-1 rounded-r-full" type="text" formControlName="lName"
                        placeholder="{{user.lName}}" value="{{user.lName}}">
                </div>
            </div>
            <div class="flex flex-row bg-black rounded-full m-8 w-fit">
                <div class="w-48 p-2">
                    <label class="m-1 p-1 text-white rounded-l-full">Password</label>
                </div>
                <div class="w-96 mr-2">
                    <input class="w-full m-1 p-1 rounded-r-full" type="password" formControlName="password"
                        placeholder="{{user.password}}" value="{{user.password}}">
                </div>
            </div>
            <div class="flex flex-row bg-black rounded-full m-8 w-fit">
                <div class="w-48 p-2">
                    <label class="m-1 p-1 text-white rounded-l-full">Phone</label>
                </div>
                <div class="w-96 mr-2">
                    <input class="w-full m-1 p-1 rounded-r-full" type="text" formControlName="phone"
                        placeholder="{{user.phone}}" value="{{user.phone}}">
                </div>
            </div>
            <div class="flex flex-row bg-black rounded-full m-8 w-fit">
                <div class="w-48 p-2">
                    <label class="m-1 p-1 text-white rounded-l-full">Profile Image</label>
                </div>
                <div class="w-96 mr-2">
                    <input class="w-full m-1 p-1 rounded-r-full" type="text" formControlName="profileImage"
                        placeholder="{{user.profileImage}}" value="{{user.profileImage}}">
                </div>
            </div>
            <div formGroupName="address">
                <label class="text-2xl p-1 m-3 text-gray-500 rounded-l-full">Address: </label>

                <div class="flex flex-row bg-black rounded-full m-8 w-fit">
                    <div class="w-48 p-2">
                        <label class="m-1 p-1 text-white rounded-l-full">Street
                            Address</label>
                    </div>
                    <div class="w-96 mr-2">
                        <input class="w-full m-1 p-1 rounded-r-full" type="text" formControlName="streetAddress"
                            placeholder="{{user.address.streetAddress}}" value="{{user.address.streetAddress}}">
                    </div>
                </div>
                <div class="flex flex-row bg-black rounded-full m-8 w-fit">
                    <div class="w-48 p-2">
                        <label class="m-1 p-1 text-white rounded-l-full">City</label>
                    </div>
                    <div class="w-96 mr-2">
                        <input class="w-full m-1 p-1 rounded-r-full" type="text" formControlName="city"
                            placeholder="{{user.address.city}}" value="{{user.address.city}}">
                    </div>
                </div>
                <div class="flex flex-row bg-black rounded-full m-8 w-fit">
                    <div class="w-48 p-2">
                        <label class="m-1 p-1 text-white rounded-l-full">State</label>
                    </div>
                    <div class="w-96 mr-2">
                        <input class="w-full m-1 p-1 rounded-r-full" type="text" formControlName="state"
                            placeholder="{{user.address.state}}" value="{{user.address.state}}">
                    </div>
                </div>
                <div class="flex flex-row bg-black rounded-full m-8 w-fit">
                    <div class="w-48 p-2">
                        <label class="m-1 p-1 text-white rounded-l-full">Zipcode</label>
                    </div>
                    <div class="w-96 mr-2">
                        <input class="w-full m-1 p-1 rounded-r-full" type="text" formControlName="zipcode"
                            placeholder="{{user.address.zipcode}}" value="{{user.address.zipcode}}">
                    </div>
                </div>
            </div>
            <div class="grid">
                <button class="justify-self-stretch m-8 border hover:bg-black bg-gray-500 text-white rounded-full p-2"
                    type="submit">Edit User</button>
            </div>
        </form>
    </div>
</div>