<div class="w-fit h-fit m-3 rounded-3xl">
    <div class="w-fit h-fit rounded-3xl bg-transparent">
        <form [formGroup]="loginForm">
            <div class="md:flex">
                <label class="block p-2 text-white m-1">Email</label>
                <input class="block m-1 p-2 text-white bg-transparent border-s-2" type="text" formControlName="email"
                    placeholder="Enter email">
            </div>

            <div class="md:flex">
                <label class="block p-2 text-white m-1">Password</label>
                <input class="block m-1 p-2 text-white bg-transparent border-s-2" type="text" formControlName="password"
                    placeholder="Enter password">
            </div>

            <div class="bg-transparent p-2 text-right">
                <button class="hover:font-semibold" (click)="submitForm()">Sign-In</button>
            </div>
            
        </form>
    </div>
</div>