<div *ngIf="cart">
    <table>
        <thead>
            <tr>
                <td>Product Name</td>
                <td>Quantity</td>
                <td>Unit Price</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of cart.products">
                <td>
                    
                    <a href="/products/{{c.productId._id}}">
                        <img src="{{c.productId.ProductImage}}" class="w-16 h-16 rounded-3xl object-contain">
                    </a>
                </td>
                <td>
                    <input type="number" [(ngModel)]="c.quantity">
                    <button class="btnBlue" (click)="updateQuantity(c.productId._id)">Update Quantity</button>
                </td>
                <td>${{(c.productId.Price * c.quantity * c.discount).toFixed(2)}}</td>
                <td>
                    <button class="btnRed" (click)="pullProduct(c.productId._id)">Delete</button>
                </td>
            </tr>
        </tbody>
        <tr>
            <td>Total:</td>
            <td></td>
            <td>{{cart.total}}</td>
        </tr>
    </table>


</div>