
<div class="w-screen h-screen text-white" *ngIf="isLoggedIn && currentUser">
        <div>
            <div>
                First Name: 
            </div>
            <div>
                {{currentUser.fName}}
            </div>
        </div>
        <div>
            <div>
                Last Name: 
            </div>
            <div>
                {{currentUser.lName}}
            </div>
        </div>
        <div>
            <div>
                Email: 
            </div>
            <div>
                {{currentUser.email}}
            </div>
        </div>
</div>
