<div class="content-box">
        <h2>Create Product Listing</h2>

        <form class="example-form" [formGroup]="productForm">
                <label>Product Name</label>
                <input type="text" matInput formControlName="productName" placeholder="Enter Product Name">

                <label>Product Category</label>
                <input type="text" matInput formControlName="category" placeholder="Enter Product Category">

                <label>Price</label>
                <input type="number" matInput formControlName="price" placeholder="Enter Product Price">

                <label>Discount</label>
                <input type="number" matInput formControlName="discount" placeholder="Enter Product Discount">

                <label>Description</label>
                <input type="text" matInput formControlName="description" placeholder="Enter Product Description">

                <label>Product Image URL</label>
                <input type="text" matInput formControlName="productImage" placeholder="Enter Product ProductImage">

                <label>How many in stock?</label>
                <input type="number" matInput formControlName="inStock" placeholder="Enter Product inStock">

                <label>Ingredient</label>
                <input type="text" matInput formControlName="ingredient" placeholder="Enter Product Ingredient">

                <label>Top Product</label>
                <input type="checkbox" matInput formControlName="featureProduct">


                <button (click)="addProduct()">Add Product</button>
        </form>



</div>