<div class="content-box">
        <h2>Create Product Listing</h2>
        <!--        
                <form class="example-form" [formGroup]="productForm">
                <label>Product Name</label>
                <input type="text" matInput formControlName="ProductName" placeholder="Enter Product Name"
                        name="ProductName">

                <label>Product Category</label>
                <input type="text" matInput formControlName="Category" placeholder="Enter Product Category">

                <label>Price</label>
                <input type="number" matInput formControlName="Price" placeholder="Enter Product Price">

                <label>Discount</label>
                <input type="number" matInput formControlName="Discount" placeholder="Enter Product Discount">

                <label>Description</label>
                <input type="text" matInput formControlName="Description" placeholder="Enter Product Description">

                <label>Product Image URL</label>
                <input type="text" matInput formControlName="ProductImage" placeholder="Enter Product ProductImage">

                <label>How many in stock?</label>
                <input type="number" matInput formControlName="inStock" placeholder="Enter Product inStock">

                <label>Ingredient</label>
                <input type="text" matInput formControlName="Ingredient" placeholder="Enter Product Ingredient">

                <label>Top Product</label>
                <input type="checkbox" matInput formControlName="TopProduct">


                <button (click)="addProduct()">Add Product</button>
        </form>

        -->

</div>